/******
Reset
******/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/******
Header
******/

header {
    padding: 17px 0 2px 0;
    background-color: #add8e6;
}

nav{
    display: flex;
    background-color: #daa520;
    justify-content: space-between;
}

.logo {
    flex-grow: 1;
    padding: 2px;
}

.link {
    flex-grow: 2;
    text-align: center;
    padding: 2px;
}

.login {
    flex-grow: 1;
    text-align: right;
    padding: 2px;
}


/******
Debug
******/

.debug{
    height: 300px;
    background-color: violet;
}

/******
Container
******/

.container {
    width: 900px;
    margin: 0 auto;
}

.second-container-header{
    width: 700px;
    margin: 0 auto;
    background-color: #ee82ee;
    height: 390px;
}

/******
Utilities
******/

.dotted {
    border: 1px dotted #000000;
}

.bg-blue {
    background-color: #00008b ;
}


/******
Section
******/
section {
    padding-top: 30px;
    padding-bottom: 30px;
}

