/******
Reset
******/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/******
Header
******/

header {
    padding: 17px 0;
}

.container-header {
    display: flex;
    background-color: #add8e6;
    justify-content: center;
}

.container-header > div {
    background-color: #daa520 ;
    border: 1px dotted #000000;
}
